
body {
  height: 100%;
  background-color: #626967;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;	
}

.heading {
	background-color: darkgray;
	height: 45px;
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee;
	border-radius: 6px;
	color: black;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.site-name {
	float : left;
	padding-top: 10px;
}

.gol-grid {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.gol-row {
	display: table-row;
}

.gol-cell {
	display: table-cell;
	border: 1px solid;
	height: 15px;
	width: 15px;
}

.dead {
	background-color: red;
}

.alive {
	background-color: black;
}